.wrap.car-availability {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="submit"] {
    color: #fff !important;
    padding: 10px 20px !important; /* Adjust padding for a smaller button */
    border: none !important;
    border-radius: 3px !important;
    font-size: 16px !important; /* Adjust font size for better readability */
    cursor: pointer !important;
    transition: background-color 0.3s ease !important; /* Add a smooth transition effect */
}